<% @page_title = "Welcome to CB vacation system"	%>

<%= stylesheet_link_tag  "access", :media => "all" %>

<div class="login">
	<%= form_tag(:action => 'attempt_login') do	%>
	<table>
		<tr>
			<td><%= label_tag(:email) %></td>
			<td><%= text_field_tag(:email) %></td>
		</tr>
		<tr>
			<td><%= label_tag(:password) %></td>
			<td><%= password_field_tag(:password) %></td>			
		</tr>
		<tr>
			<td></td>
			<td><%= submit_tag("Sign in") %></td>	
		</tr>

	</table>
	<% end %>
	<div class = "options">
		<div><%= link_to("Register", :controller => "user", :action => "new") %></div>
		<div><%= link_to("See team's vacation record", :controller => "user", :action => "list") %></div>
	</div>
</div>
