<% @page_title = "Edit Vacation Request" %>

<% content_for :left_bar do %>  
	<%= render(:partial => "layouts/leftBar")%>
<% end %>

<%= link_to("<< Back to List", {:controller => "vacation_request", :action => "list"})%>

<div>
	<h2>edit vacation request</h2>
	<%= form_for(:vacation_request, :url => {:action => "update", :id => @vacation_request.id}) do |f|	%>
		<%= render(:partial => "newEditForm", :locals => {:f => f})%>
		<div>
			<%= submit_tag("update Vacation Request")%>
		</div>
	<% end %>

	
</div>
