<div>
	<h2>Vacations Requests list</h2>
	<div><%= link_to("create a new vacation request", {:action => "new"})	%></div>
	<table>
		<tr>
			<th>Name</th>
			<th>Request hours</th>
			<th>Remain hours</th>
			<th>Submit time</th>
			<th>Actions</th>
		</tr>
		<% @vacation_requests.each do |vacation_request|%>
		<tr>
			<td><%= vacation_request.user.first_name + " " + vacation_request.user.last_name  %></td>
			<td><%= vacation_request.request_hours %></td>
			<td><%= vacation_request.remain_hours %></td>
			<td><%= vacation_request.created_at.to_s(:db) %></td>
			<td>
				<%= link_to("Show", {:controller => "vacation_request", :action => 'show', :id => vacation_request.id})%>
				<%= link_to("Edit", {:action => 'edit', :id => vacation_request.id})%>
				<%= link_to("Delete", {:action => 'delete', :id => vacation_request.id})%>
			</td>
		</tr>
		<% end %>
	</table>
	
</div>