<% @page_title = "Create Vacation Request" %>
<% content_for :left_bar do %>  
	<%= render(:partial => "layouts/leftBar")%>
<% end %>

<%= link_to("<< Back to List", {:controller => "vacation_request", :action => "list"})%>

<div>
	<h2>Vacation request</h2>
	<%= form_for(:vacation_request, :url => {:action => "create"}) do |f|	%>
		<%= render(:partial => "newEditForm", :locals => {:f => f})%>
		
		<div>
			<%= submit_tag("Create Vacation Request")%>
		</div>
	<% end %>

	
</div>
