<% @page_title = "Vacation Request Display" %>

<% content_for :left_bar do %>  
	<%= render(:partial => "layouts/leftBar")%>
<% end %>

<%= link_to("<< back to list", {:action => "list"})%>

<h3>Vacation Request</h3>
<div>
	<table class="table">
		<tr>
			<th>Name</th>
			<td> <%= @vacation_request.user.first_name + " " + @vacation_request.user.last_name %></td>
		</tr>
		<tr>
			<th>Request hours</th>
			<td><%= @vacation_request.request_hours %></td>
		</tr>
		<tr>
			<th>Remain hours</th>
			<td><%= @vacation_request.remain_hours	%></td>
		</tr>
		<tr>
			<th>Created at</th>
			<td><%=	@vacation_request.created_at.to_s(:db)	%></td>
		</tr>
		<% if @vacation_request.created_at.to_s(:db) != @vacation_request.updated_at.to_s(:db) %>
		<tr>
			<th>Updated at</th>
			<td><%=	@vacation_request.updated_at.to_s(:db)	%></td>
		</tr>
		<% end %>
		<tr>
			<th>content</th>
			<td><div><%= @vacation_request.leave_text %></div></td>
		</tr>
	</table>
</div>
