<% @page_title = "Password retrieve"%>

<% content_for :left_bar do %>  
	<%= render(:partial => "layouts/leftBar")%>
<% end %>

<h2>retrieve your lost password</h2>

<div class="forget_password table">
	<%= form_tag(:controller => "user", :action => 'process_forget_password') do %>
		<table>
			<tr>
				<td><%= label_tag(:email) %></td>
				<td><%= text_field_tag(:email) %></td>
			</tr>
			<tr>
				<td></td>
				<td><%= submit_tag("Retrieve") %></td>
			</tr>
		</table>
	<% end %>
</div>
