<% @page_title = "Team recorder"%>

<% content_for :left_bar do %>  
	<%= render(:partial => "layouts/leftBar")%>
<% end %>

<div>
	<h2>Team record</h2>
	
	<table class="table">
		<tr>
			<th>Email</th>
			<th>User name</th>
			<th>Remain hours</th>
			<th>Action</th>
		</tr>
		<% @users.each do |user|%>
		<tr>
			<td><%= user.email  %></td>
			<td><%= user.first_name + " " + user.last_name %></td>
			<td><%= user.vacation.remain_hours %></td>
			<td><%= link_to("vacation history", :controller => "vacation_request", 
												:action => "list", 
												:id => user.id
												)%>
			</td>
		</tr>
		<% end %>
	</table>
	
</div>