<% @page_title = "Register" %>
<div>
	<%= link_to("<< Back to login", {:controller => "access", :action => "login"})%>
</div>
<div>
	<h2>Register user</h2>
	<%= form_for(:user, :url => {:action => "create"}) do |f|	%>
		<table class="table">
			<tr>
				<th>Email</th>
				<td> <%= text_field(:user ,:email) %></td>
			</tr>
			<tr>
				<th>First Name</th>
				<td> <%= text_field(:user ,:first_name) %></td>
			</tr>
			<tr>
			
			<th>Last Name</th>
				<td> <%= text_field(:user ,:last_name) %></td>
			</tr>	
			<th>Password</th>
				<td> <%= password_field(:user ,:password, :size => 20) %></td>
			</tr>	
			<th>Password again</th>
				<td> <%= password_field(:user ,:password_confirmation, :size => 20) %></td>
			</tr>

		</table>
		
		<div>
			<%= submit_tag("Register")%>
		</div>
	<% end %>
</div>
