
<html>
<head>
  <title>admin</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "bootstrap", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="wrapper">
	<div id="header">
		<h1>Demo || <%= @page_title || "admin area" %></h1>
	</div>
	<div id="main" class="clearfix">
		<% if !flash[:notice_info].blank? %>
			<div id="notice_info" class="alert alert-success"><%= flash[:notice_info] %></div>
		<% elsif !flash[:notice_error].blank? %>
			<div id="notice_error" class="alert alert-error"><%= flash[:notice_error] %></div>
		<% end %>
		
		<% if session[:username] %>
			<div class="identify">Logged in as: <%= session[:username]%></div>
		<% end %>
		
		<div id="left">
			<div>&nbsp;</div>
			<%= yield :left_bar %> 
		</div>
		<div id="right"><%= yield %></div>
	</div>
	<div id="footer">
		<div id="copyright">
			<p>&copy; baojialiang's demo</p>
		</div>
	</div>
</div>
</body>
</html>
