
<html>
<head>
  <title>admin</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "bootstrap", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="wrapper">
	<div id="header">
		<h1>Demo || <%= @page_title || "admin area" %></h1>
	</div>
	<div id="main">
		<% if !flash[:notice_info].blank? %>
			<div id="notice_info"><%= flash[:notice_info] %></div>
		<% elsif !flash[:notice_error].blank? %>
			<div id = "notice_error"><%= flash[:notice_error] %></div>
		<% end %>
		<div class="identify">Logged in as: <%= session[:username]%></div>
		<div class="container-fluid" id="content">
			<div class="row-fluid">
				<div class="left">
					<ul>
						<li><%=	link_to("my vacation record", :controller => "vacation")	%></li>
						<li><%=	link_to("new vacation request", :controller => "vacation_request")%></li>
						<li><%=	link_to("team's record", :controller => "vacation_request")	%></li>
						<li><%=	link_to("Logout", :controller => "access", :action => "logout")	%></li>
					</ul>
				</div>
				<div class="right"><%= yield %></div>
			</div>
		</div>
	</div>
	<div id="footer">
		<div id="copyright">
			<p>&copy; baojialiang's demo</p>
		</div>
	</div>
</div>
</body>
</html>
