
<html>
<head>
  <title>admin</title>
  <%= stylesheet_link_tag    "vacation_request", :media => "all" %>
  <%= stylesheet_link_tag    "bootstrap", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="header">
	<h1>Demo || <%= @page_title || "admin area" %></h1>
</div>
<div id="main">
	<% if !flash[:notice].blank? %>
		<div class = "notice"><p class="text-success"><%= flash[:notice] %></p></div>
	<% elsif !flash[:error].blank? %>
		<div class = "notice"><p class="text-error"><%= flash[:error] %></p></div>
	<% end %>
	<div class="container-fluid" id="content">
		<div class="row-fluid">
			<div class="span2"><!-- sidebar stuff --></div>
			<div class="span10"><%= yield %></div>
		</div>
	</div>
</div>
<div id="footer">
	<div id="copyright">
		<p>&copy; baojialiang's demo</p>
	</div>
</div>

</body>
</html>
