
<html>
<head>
  <title>admin</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "bootstrap", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="wrapper">
	<div id="header">
		<h1><%= @page_title || "admin area" %></h1>
	</div>
	<div id="main" class="clearfix">
			<% if !flash[:notice_info].blank? %>
				<div id="notice_info" class="alert alert-success">
					<%= raw(flash[:notice_info]) %>
				</div>
			<% end %>	
			<% if !flash[:notice_error].blank? %>
				<div id="notice_error" class="alert alert-error">
					<%= raw(flash[:notice_error]) %>
				</div>
			<% end %>
			<% if !flash[:notice_warning].blank? %>
				<div id="notice_error" class="alert alert-error">
					<%= raw(flash[:notice_warning]) %>
				</div>
			<% end %>
		<% if session[:username] %>
			<div class="identify">Logged in as: <%= session[:username]%></div>
		<% end %>
		
		<div id="left">
			<div>&nbsp;</div>
			<%= yield :left_bar %> 
		</div>
		<div id="right"><%= yield %></div>
	</div>
	<div id="footer">
		<div id="copyright">
			<p>&copy; <%= link_to("baojialiang's demo", :controller => "access", :action => "help") %></p>
		</div>
	</div>
</div>
</body>
</html>
